@charset "Utf-8";
img{
    width: 100px;
    height: 100px;
}
h2{
    border-left: dotted 2px black;
}
ol{
    border: solid 3px blue;
    border-radius: 10px;
}
table,th,td{
    border: solid 1px black;
    border-collapse: collapse;
}


